$color-1:#08080D;
$color-2:#18D2FF;
$color-4:#000;
$color-5:#fbfbfb;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: $color-4 !important;
    min-height: 100vh;
    width: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

.container-principal {
    width: 100%;
    margin: 0;
}