.section-2 {
    width: 100%;
    background-color: $color-4;
    margin: 0 !important;
    overflow-x: hidden;


    .logos {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        animation: logos1 30s;
        animation-iteration-count: infinite;

        .svg-logo {
            border-radius: 10%;
            width: 50px;
            padding: 5px;
            cursor: pointer;
            margin: 0 0 0 50px;
        }
    }
}

@media (max-width: 768px) {

    .section-2 {
        .logos {
            .svg-logo {
                width: 40px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 621px) {
    .section-2 {
        .logos {
            width: 100%;

            .svg-logo {
                margin: 0;
                width: 30px;
            }
        }
    }
}